In [3]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [4]:
# Call the function.
say_hello()

Hello!

In [5]:
def say_something(something):
    print(something)

In [6]:
say_something("Hello World")

Hello World

In [7]:
jane_says = "Hi my name is jane. I am new neighbour"
say_something(jane_says)

Hi my name is jane. I am new neighbour

In [13]:
def passing_math_percentage(pass_math_count,student_count):
    return pass_math_count/float(student_count)*100

In [14]:
passing_math_count = 29370
total_student_count = 39170

In [15]:
# call the function 
passing_math_percentage(passing_math_count,total_student_count)

74.9808526933878

In [16]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [19]:
#import pandas 
import pandas as pd
# convert my grades to series
my_grades = pd.Series(my_grades)

In [20]:
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [23]:
my_grades.map({"B":"A","C":"B","D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [29]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.1f}".format(grade))

92.3
84.6
86.8
98.3

In [30]:
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [31]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object